/* manrope-regular - latin */
@font-face {
    ont-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/Manrope/static/Manrope-Regular.ttf') format('trueType'); 
}
/* manrope-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/Manrope/static/Manrope-Bold.ttf') format('trueType'); 
}
/* manrope-800 - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf') format('trueType'); 
}

.menu {
    font-family: 'Manrope';
    display: flex;
}

.menu-izq {
    border-right: 1px solid rgb(184, 183, 183);
    width: 400px;
    height: 1130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items {
    display: flex;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;

}

.items img {
    margin-left: 10px;
    margin-right: 10px;
}

.createship {
    background-color: rgb(30, 49, 133);
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 10px;
}


.items2 {
    display: flex;
    font-size: 14px;
    cursor: pointer;
}

.items2 img {
    margin-left: 10px;
    margin-right: 10px;
}

.menu-der {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.menu-d1 {
    display: flex;
}

.blo {
    flex: 1;
    margin-top: 30px;
}

.blo3 {
    flex: 1;
    margin-top: 30px;
    background-image: url("../../assets/svg/Stock-chart.svg");
}
.blo3 p {
    margin-left: 40px;
    letter-spacing: 1px;
    font-size: 18px;
    color: white;
}

.blo3 h2 {
    margin-left: 40px;
    margin-top: 3px;
    font-size: 50px;
    color: white;
}

.blo p {
    margin-left: 40px;
    letter-spacing: 1px;
    font-size: 18px;
}

.blo h2 {
    margin-left: 40px;
    margin-top: 3px;
    font-size: 50px;
    color: blue;
}

.menu-der2 {
    margin-top: 60px;
    display: flex;
    margin-left: 40px;
}

.menu-dizq {
    width: 60%;
}

.menu-dizq1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.md1 p {
    font-size: 18px;
}

.menu-dizq div h2 {
    font-size: 26px;
}

.yu {
    display: flex;
}

.yu p {
    border: 1px solid rgb(175, 173, 173);
    width: 170px;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.ac { 
    background-color: blue;
    color: white;
}

.menu-dder {
    margin-left: 85px;
    display: flex;
    flex-direction: column;
}

.logisticabloq {
    display: flex;
    margin-top: 20px;
    width: 500px;
}

.logisticabloq div img {
    width: 40px;
    margin-left: 10px;
}

.inf {
    margin-left: 10px;
}

.inf p {
    margin: 0px;
    font-weight: 800;
}

.fae {
    display: flex;
    letter-spacing: 1px;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    color: gray;
}

.menu-der3 {    margin-left: 40px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.it {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}